<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div class="row">
    <div class="col-md-6">
        <autocomplete name="first" label="First Band"></autocomplete>
    </div>
    <div class="col-md-6">
        <autocomplete name="second" label="Second Band"></autocomplete>
    </div>
</div>
<sixdegrees></sixdegrees>
